
#post-body h1
{
	margin-top: 1em;
}

.blog-post
{
	text-align: left;
	padding: 0em 2em 0em 2em;
}

.blog-post.container
{
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0);
}

.post-title
{
	text-decoration: none !important;
	text-align: left;
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0.01);
	font-size: 36px;
	font-family: 'Vollkorn', serif;
}
a.post-title:hover
{
	transition-duration: 200ms;
	-webkit-filter: invert(50%);
    filter: invert(50%);
}

.post-date
{
	display: block;
	font-size: 16px;
	padding-top: 1em;
	text-align: center;
}

#post-body
{
	text-align: left;
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0);
	/* font-family: "Josefin Slab", serif; */
	letter-spacing: .05em;
	font-family: proxima-nova, sans-serif !important;
}

#post-body code
{
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0);
}

#post-body p
{
	margin: 2em 0 1em 0;
}

@media (min-width: 767px) {
	#post-body p 
	{
		text-align: justify;
	}
}

#post-body img
{
	display: block;
	margin: auto;
	max-width: 100%;
}

#post-body a
{
	color: #002F88;
	font-weight: 600;
}

.post-separator
{
	margin-bottom: 2em;
}


.post-edit-btn:hover
{
	transition-duration: 200ms;
	-webkit-filter: invert(50%);
    filter: invert(50%);
}


#post-toc
{
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .0);
	text-align: left;
	top: 96px;
}

#post-toc .nav-link
{
	font-size: 14px;
}


.header-link
{
	opacity: 0;
	position: absolute;
	left: -0.5em;
	margin-top: 0.5em;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.575) !important;
}

h1:hover .header-link,
h2:hover .header-link
{
	transition-duration: 200ms;
	opacity: 1;
}

.header-link:hover
{
	-webkit-filter: invert(50%);
    filter: invert(50%);
}

nav[data-toggle='toc'] .nav-link + ul {
	display: block;
}

@media (max-width: 768px) {
	/* override stickyness so that the navigation does not follow scrolling */
	nav[data-toggle='toc'] {
	  margin-bottom: 42px;
	  position: static;
	}
  
	/* don't expand nested items, which pushes down the rest of the page when navigating */
	nav[data-toggle='toc'] .nav .active .nav {
	  display: none;
	}
  }