
body
{
	background: black;
	color: white;
	text-shadow: 0 .05rem .1rem rgba(255, 255, 255, .5);
}

/* Tooltips */
.tooltip-inner
{
	color: black;
	background-color: white;
}


/* Links */
a,
a:hover {
  color: #fff;
}


/*
 * Header
 */
.nav-masthead .nav-link 
{
	color: rgba(255, 255, 255, 1);
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus 
{
  border-bottom-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}
.nav-masthead .active 
{
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Page
 */
 .vertical-divider:before, 
 .vertical-divider:after 
 {
	 border-right: 1px solid rgba(255,255,255,.1);
 }
 .contact-item:after
 {
	 background-color: white;
 }

 /*
* Blog
*/
#post-toc .nav-link
{
	color: white;
}

hr
{
	border-color: rgba(255, 255, 255, 0.75);
}

#post-body hr
{
	border-color: rgba(255, 255, 255, 0.5);
}

#post-body a
{
	color: rgb(148, 148, 255);
}

.header-link
{
	color: rgba(255, 255, 255, 0.575) !important;
}