
body
{
	background: white;
	color: black;
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 3rem rgba(0, 0, 0, .3);
}


/* Links */
a,
a:hover {
  color: black;
}

/*
 * Header
 */
 .nav-masthead .nav-link 
 {
	 color: black;
 }
 .nav-masthead .nav-link:hover,
 .nav-masthead .nav-link:focus 
 {
   border-bottom-color: black;
   color: black;
 }
 .nav-masthead .active 
 {
   color: black;
   border-bottom-color: black;
 }
 .logo-img
 {
	-webkit-filter: invert(100%);
    filter: invert(100%);
 }

 /*
  * Page
  */
  .vertical-divider:before, 
  .vertical-divider:after 
  {
	  border-right: 1px solid rgba(0,0,0,.1);
  }
  .contact-item:after
  {
	  background-color: black;
  }