/*
 * Globals
 */



/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  padding: 1.4rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 500;
  background-color: transparent;
  border-bottom: .1rem solid transparent;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  transition-duration: 500ms;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.logo-img
{
  height: 1.5em;
  opacity: 0.95;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
