
html
{
	height: 100%;
}

body
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	justify-content: center;
	min-height: 100%;
}

.vertical-divider 
{
	position: absolute;
	z-index: 10;
	left: 50%;
	margin: 0;
	padding: 0;
	width: auto;
	height: 50%;
	line-height: 0;
	text-align:center;
	transform: translateX(-50%);
}
.vertical-divider:before, 
.vertical-divider:after 
{
	position: absolute;
	left: 50%;
	content: '';
	z-index: 9;
	width: 0;
	height: 100%;
}

.cont-column
{
	flex-grow: 1;
	flex-basis: 0;
}
.flex-align-right
{
	justify-content: flex-end;
	margin-left: auto;
}


.gravatar
{
	border-radius: .8em;
	margin-bottom: 1em;
}

.inverted
{
	-webkit-filter: invert(1);
	filter: invert(1);
}


/*
	Social list
*/
.contact-item
{
	display: inline-block;
	position: relative;
	transition:color 0.3s ease;

	text-align: left;
	border-radius: .8em;
	font-size: 30px;
}

.contact-item:after
{
	position: absolute;
	content: '';
	top:0;
	left: 0;
	width: 0;
	height: 100%;
	transform-origin: left;
	transition: width 0.3s ease;
	z-index:-1;
}

.contact-item:hover a
{
	transition: width 0.3s ease;
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

.contact-item:hover::after 
{
	width: 100%;
}



/*
	Projects
*/
.projects-container
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.project-link
{
	align-self: flex-start;
	margin: auto;
}

.project-category
{
	margin-bottom: .5em;
}

.project
{
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: .5em;

	margin: 1em 1em 2em 1em;

	width: 20em;
	height: 20em;
}

.project:hover
{
	border-color: white;
	transition-duration: 300ms;
}

.project-link
{
	text-decoration: none;
	color: rgb(171, 171, 171);
	display: inline-block;
}

.project-logo
{
	width: 6em;
	height: 6em;
}

.project-header
{
	padding: 1em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.project-content
{
	padding: 1em;
	text-align: left;
}

.project-content p
{
	font-size: 14px;
	color: rgb(171, 171, 171);
	margin-bottom: 0;
	height: 8em;
}

.project-title
{
	color: white;
	font-size: 20px;
}

.package-downloads
{
	font-size: 14px;
	color: white;
}

.pkmg-icon
{
	height: .9em;
	margin-top: -10px;
}


/*
	Footer
*/
.mastfoot
{
	padding: 2em 0em 0em 0em;
	font-size: 32px;
}

.mastfoot a:hover
{
	transition-duration: 200ms;
	-webkit-filter: invert(50%);
    filter: invert(50%);
}

.copyright
{
	opacity: 0.8;
	font-size: 16px;
}


/*
	Theme toggle
*/
.toggle-container
{
	font-size: 16px;
	padding-left: 1em;
}
 /* The switch - the box around the slider */
 .switch {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 1.6em;
	bottom: -.8em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 1.46em;
	width: 26px;
	left: 1px;
	bottom: 0;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: black;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(27px);
	-ms-transform: translateX(27px);
	transform: translateX(27px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
	border: 1px solid white;
  }
  
  .slider.round:before {
	border-radius: 50%;
  } 