<footer class="mastfoot mt-auto">
	<div class="inner">
		<ul class="list-inline">
			<li class="list-inline-item">
				<a class="nav-link" href="https://github.com/gmantaos"><i class="fab fa-fw fa-github"></i></a>
			</li>
			<li class="list-inline-item">
				<a class="nav-link" href="https://gitlab.com/users/haath/projects"><i class="fab fa-fw fa-gitlab"></i></a>
			</li>
			<li class="list-inline-item">
				<a class="nav-link" href="https://www.linkedin.com/in/gmantaos/"><i class="fab fa-fw fa-linkedin"></i></a>
			</li>
			<li class="list-inline-item">
				<a class="nav-link" href="https://haath.itch.io/"><i class="fab fa-itch-io"></i></a>
			</li>
			<li class="list-inline-item">
				<a class="nav-link" href="mailto:gmantaos@gmail.com" target="_top"><i class="fas fa-fw fa-envelope"></i></a>
			</li>
		</ul>
		<span class="copyright">
			Website handcrafted from scratch <i class="far fa-smile"></i><br>
			Copyright © Grigoris Mantaos, 2018-2020
		</span>
	</div>
</footer>